header
  height: 90px
  .logo
    float: left
    margin: 30px
    font:
      size: 24px
      weight: 700
    font-family: $headingFont
    a
      display: inline-block
      color: $accent
      &:hover
        color: $accent-light
  nav
    float: right
    margin: 30px 30px 0 0
    a
      display: inline-block
      margin-left: 20px
      color: $accent
      font:
        size: 24px
        weight: 700
      font-family: $headingFont
      &:hover
        color: $accent-light
      &.active
        color: $accent-light
        border-bottom: 2px solid $accent-light

@media (max-width: 768px)
  header
    .logo
      margin: 10px 30px 0px 0px
    nav
      margin: 0px
      margin-top: 18px
      float: left
      a
        margin-left: 0px
        margin-right: 20px
        font:
          size: 16px
