---
---

//------------------------------------------------
// Set some colors as sass variables

$accent-color: #888888
$accent: #888888
$accent-light: lighten($accent, 20%)
$selectionColor: #2A2A2A

$textColor: #D0D0D0
$headlineColor: #E0E0E0
$bgcolor: #1A1A1A
$documentBackgroundColor: #121212

$headingFont: 'Outfit', sans-serif
$bodyFont: 'Cardo', serif

@import '1-tools/-tools-dir'
@import '2-base/-base-dir'
@import '3-sections/-sections-dir'
